.venv/
__pycache__/
temp/
*.egg-info/
.DS_Store
.html
supermech/llm_jailbreak/logs/*
supermech/models
supermech/causal-checker
supermech/Mech-Interp-Challenges
supermech/arena-hackathon-attribution-patching
